<div class="container">
  <slot />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    max-width: var(--container-max-width);
  }
</style>
