---
interface Props {
  color?: 'brown' | 'white';
  textAlign?: 'center' | 'start';
}

const { color = 'brown', textAlign = 'start' } = Astro.props;
---

<p class={`regular ${color} ${textAlign}`}>
  <slot />
</p>

<style>
  .regular {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
  }

  .regular.white {
    color: var(--white);
  }
  .regular.brown {
    color: var(--brown);
  }

  .regular.start {
    text-align: start;
  }

  .regular.center {
    text-align: center;
  }

  @media (min-width: 43rem) {
    .regular {
      font-size: 14px;
    }
  }

  @media (min-width: 62rem) {
    .regular {
      font-size: 18px;
    }
  }
</style>
