---
interface Props {
  color?: 'brown' | 'white';
  textAlign?: 'center' | 'start';
  fontSize?: '18' | '20';
}

const { color = 'brown', textAlign = 'start', fontSize = '18' } = Astro.props;
---

<p class={`regular ${color} ${textAlign} ${fontSize}`}>
  <slot />
</p>

<style>
  .regular {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 32px;
    color: var(--white);
  }

  .regular.18 {
    font-size: 12px;
  }

  .regular.20 {
    font-size: 14px;
  }

  .regular.white {
    color: var(--white);
  }
  .regular.brown {
    color: var(--brown);
  }

  .regular.start {
    text-align: start;
  }

  .regular.center {
    text-align: center;
  }

  @media (min-width: 43rem) {
    .regular.18 {
      font-size: 14px;
    }
    .regular.20 {
      font-size: 16px;
    }
  }

  @media (min-width: 62rem) {
    .regular.18 {
      font-size: 18px;
    }

    .regular.20 {
      font-size: 20px;
    }
  }
</style>
