---
interface Props {
  textAlign?: 'center' | 'start';
  color?: 'brown' | 'white';
}

const { textAlign = 'start', color = 'white' } = Astro.props;
---

<h2 class={`header ${textAlign} ${color}`}>
  <slot />
</h2>

<style>
  .header {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .header.start {
    text-align: start;
  }

  .header.center {
    text-align: center;
  }

  .header.white {
    color: var(--white);
  }
  .header.brown {
    color: var(--brown);
  }

  @media (min-width: 43rem) {
    .header {
      font-size: 30px;
    }
  }

  @media (min-width: 62rem) {
    .header {
      font-size: 40px;
    }
  }
</style>
