---
import Layout from 'layout/Layout.astro';
import Banner from 'components/index/banner/Banner.astro';
import Partners from 'components/index/Partners.astro';
import Gallery from 'components/index/gallery/Gallery.astro';
import FAQ from 'components/index/FAQ.astro';
import CallToAction from 'components/index/CallToAction.astro';
---

<Layout title="DELTA">
  <main>
    <Banner />
    <Partners />
    <Gallery />
    <FAQ />
    <CallToAction />
  </main>
</Layout>

<style>
  h1,
  h2,
  h3 {
    text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  }

  h1 {
    font-weight: 800;
    text-align: center;
  }

  h2 {
    font-weight: 400;
  }

  main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 150px;
  }
</style>
