---
export interface Props {
  icon: { src: string; alt: string };
  title: string;
  value: string;
}

const { icon, title, value } = Astro.props;
---

<li class="list-item">
  <img class="icon" {...icon} />
  <h5>
    {title}
  </h5>
  <p>
    {value}
  </p>
</li>

<style>
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 25%;
    border-right: 1px solid #1d0a06;
  }

  .list-item:last-of-type {
    border: none;
  }

  h5,
  p {
    margin: 0;
  }

  h5 {
    font-size: 0.9vw;
  }

  p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1vw;
    color: var(--main-color);
  }
</style>
