---
export interface Props {
  icon: { src: string; alt: string };
  title: string;
  value: string;
}

const { icon, title, value } = Astro.props;
---

<li class="list-item">
  <img class="icon" {...icon} />
  <h5>
    {title}
  </h5>
  <p>
    {value}
  </p>
</li>

<style>
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 25%;
    border-right: 1px solid #1d0a06;
  }

  .list-item:last-of-type {
    border: none;
  }

  h5,
  p {
    margin: 0;
  }

  h5 {
    font-size: 1.25vw;
    font-weight: 400;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.04vw;
    color: var(--color-primary);
  }

  @media (max-width: 768px) {
    h5 {
      font-size: 2.5vw;
    }
    p {
      font-size: 2vw;
    }

    .list-item {
      border-right: none;
      width: 50%;
    }

    body .icon {
      width: 4vw;
      height: 4vw;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 425px) {
    h5 {
      font-size: 3.6vw;
    }
    p {
      font-size: 3.7vw;
    }
    body .icon {
      width: 6vw;
      height: 6vw;
      margin-bottom: 4px;
    }
  }
</style>
