<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>FAQ</h2>
        <p>Mamy nadzieję, że tutaj rozwiejemy Twoje wątpliwości.</p>
    </header>
    <main>
        <section class="sectionOne">
            <div>
                <h3>CO MAM ZABRAĆ NA WYJAZD?</h3>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
            </div>
            <img class="imageFirst" src="//Users/olcia/VSC Delta/Delta/public/assets/FAQ/cactus.png"/>
        </section>
        <section class="sectionTwo">
            <img class="imageSecond" src="/Users/olcia/VSC Delta/Delta/public/assets/FAQ/money.png"/>
            <div class="shorter-text">
                <h3>CZY MOGĘ OTRZYMAĆ FAKTURĘ VAT?</h3>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
            </div>
        </section>
        <section class="sectionThree">
            <div>
                <h3>CZY MOGĘ ZREZYGNOWAĆ Z WYJAZDU?</h3>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
            </div>
            <img class="imageThree" src="/Users/olcia/VSC Delta/Delta/public/assets/FAQ/cactus.png"/>
        </section>
        <section class="sectionFour">
            <img class="imageFour" src="/Users/olcia/VSC Delta/Delta/public/assets/FAQ/cactus.png"/>
            <div>
                <h3>CZY MOGĘ OTRZYMAĆ FAKTURĘ VAT?</h3>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit ametLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
            </div>
        </section>
    </main>
</body>

<style>
    
</style>