<footer class="footer-wrapper">
  <div class="content-wrapper">
    <div class="logos-wrapper">
      <img class="logo" src="/assets/logo_wrs.svg" />
      <img class="logo" src="/assets/logo_sspl.png" />
    </div>
    <div class="social-wrapper"></div>
  </div>
  <p class="copyright">Copyright © 2022 WRS FTIMS. All rights reserved.</p>
</footer>

<style>
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px var(--padding-side);
    background-color: var(--main-color);
  }

  .content-wrapper {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .logos-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .logo {
    width: auto;
    height: 100px;
  }

  .social-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .copyright {
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
  }
</style>
