---
const { src, alt } = Astro.props;
---

<div class="img-wrapper">
  <img class="gallery-img" src={src} alt={alt} />
</div>

<style>
  .gallery-img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    transition: transform 0.2s;
  }

  .gallery-img:hover {
    cursor: pointer;
    transform: scale(0.98);
  }

  .gallery-img:active {
    transform: scale(0.96);
  }

  @media (min-width: 43rem) {
    .gallery-img {
      border-radius: 12px;
    }
  }

  @media (min-width: 62rem) {
    .gallery-img {
      border-radius: 16px;
    }
  }
</style>
