---
import OrangeContainer from './OrangeContainer.astro';
import SectionHeader from './SectionHeader.astro';
import SectionSubtitle from './SectionSubtitle.astro';
---

<OrangeContainer>
  <SectionHeader>Galeria</SectionHeader>
  <SectionSubtitle>Sprawdź jak było w poprzednich latach.</SectionSubtitle>
  <div class="img-grid">
    <img src="" alt="" />
  </div>
  <p>Zainteresowany?</p>
  <button>Pokaż mi więcej</button>
</OrangeContainer>

<style>
  .img-grid {
  }

  @media (min-width: 43rem) {
  }

  @media (min-width: 62rem) {
  }
</style>
