<h2 class="subtitle">
  <slot />
</h2>

<style>
  .subtitle {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
  }

  @media (min-width: 43rem) {
    .subtitle {
      font-size: 16px;
    }
  }

  @media (min-width: 62rem) {
    .subtitle {
      font-size: 20px;
    }
  }
</style>
