<h2 class="header">
  <slot />
</h2>

<style>
  .header {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
  }

  @media (min-width: 43rem) {
    .header {
      font-size: 30px;
    }
  }

  @media (min-width: 62rem) {
    .header {
      font-size: 40px;
    }
  }
</style>
