---
interface Props {
  textAlign?: 'center' | 'start';
  color?: 'brown' | 'white';
}

const { textAlign = 'start', color = 'white' } = Astro.props;
---

<h2 class={`subtitle ${textAlign} ${color}`}>
  <slot />
</h2>

<style>
  .subtitle {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 400;
  }

  .subtitle.start {
    text-align: start;
  }

  .subtitle.center {
    text-align: center;
  }

  .subtitle.white {
    color: var(--white);
  }
  .subtitle.brown {
    color: var(--brown);
  }
  @media (min-width: 43rem) {
    .subtitle {
      font-size: 16px;
    }
  }

  @media (min-width: 62rem) {
    .subtitle {
      font-size: 20px;
    }
  }
</style>
