---
import Container from 'components/shared/Container.astro';
import RegularText from 'components/shared/RegularText.astro';
import SectionHeader from 'components/shared/SectionHeader.astro';
---

<Container>
  <div class="wrapper">
    <div class="flex-row content-row">
      <img class="content-img" src="https://via.placeholder.com/550x550" alt="Uczestnicy" />
      <div class="content-wrapper">
        <div class="flex-column">
          <SectionHeader color="brown">O Delcie</SectionHeader>
          <RegularText fontSize="20">Co to? Dla kogo?</RegularText>
        </div>

        <RegularText fontSize="20">
          <span class="bold">Delta</span>
          to studencki wyjazd szkoleniowo-integracyjny organizowany przez
          <span class="bold"
            >Wydziałową Radę Samorządu Wydziału Fizyki Technicznej, Informatyki i Matematyki Stosowanej.</span
          >
        </RegularText>

        <div class="flex-row cactus-row">
          <RegularText fontSize="20">
            W trakcie wyjazdu dbamy o
            <span class="bold">integrację</span>
            oraz rozwijamy swoje umiejętności podczas
            <span class="bold">szkoleń.</span>
            Nieważne, czy dopiero rozpoczynasz studia, czy po prostu chcesz poznać ludzi z kierunku...
            <span class="bold">DELTA to idealny wyjazd dla każdego!</span>
          </RegularText>
          <img class="cactus" src="../../assets/cactus.svg" />
        </div>
      </div>
    </div>

    <div class="flex-row content-row">
      <div class="content-wrapper">
        <div class="flex-column">
          <SectionHeader color="brown">Ośrodek</SectionHeader>
          <RegularText fontSize="20">Zobacz, gdzie pojedziemy tym razem.</RegularText>
        </div>

        <RegularText fontSize="20">
          <span class="bold">Bądź czujny!</span>
          Tegoroczny motyw to Dziki Zachód, ale nasze rodeo spędzimy na południowym-wschodzie Łodzi.
          <span class="bold">Ośrodek Wypoczynkowy “Marysieńka”</span>
          znajduje się nad Zalewem Topornia. Ogrodzony teren ośrodka mieści bar, stołówkę, świetlicę oraz parking. Każdy
          domek posiada
          <span class="bold">ogrzewanie,</span>
          toaletę, TV, jak i
          <span class="bold">lodówkę.</span>
        </RegularText>

        <div class="flex-row cactus-row">
          <div class="flex-column info-box">
            <h4 class="info-header">Szczegółowe informacje:</h4>
            <p class="info-text">Ośrodek Wypoczynkowy „Marysieńka” Topornia 23, 26-400 Przysucha</p>
          </div>
          <img class="cactus" src="../../assets/cactus.svg" />
        </div>
      </div>
      <img class="content-img" src="https://via.placeholder.com/550x550" alt="Ośrodek" />
    </div>
  </div>
</Container>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 112px;
    margin: 0 var(--padding-side);
  }

  .flex-row {
    display: flex;
    align-items: center;
  }

  .content-row {
    flex-direction: column;
    gap: 40px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .content-img {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bold {
    font-weight: 700;
  }

  .cactus-row {
    justify-content: space-between;
    gap: 20px;
  }

  .info-box {
    gap: 8px;
    margin-right: 40px;
    padding: 10px;
    box-shadow: 0px 6px 12px rgba(29, 10, 6, 0.08);
    border-radius: 10px;
    color: var(--brown);
  }

  .info-header {
    text-transform: uppercase;
    margin: 0;
  }

  .info-text {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }

  .cactus {
    display: none;
  }

  @media (min-width: 43rem) {
    .content-wrapper {
      background-color: red;
    }

    .content-img {
      width: 220px;
    }
  }

  @media (min-width: 62rem) {
    .content-wrapper {
      background-color: blue;
    }

    .content-row {
      flex-direction: row;
    }

    .content-img {
      width: 550px;
    }

    .cactus {
      flex-shrink: 0;
      display: block;
      width: 100px;
    }
  }
</style>
