---
import Button from 'components/shared/Button.astro';
import Container from 'components/shared/Container.astro';
import RegularText from 'components/shared/RegularText.astro';
import SectionHeader from 'components/shared/SectionHeader.astro';
import SectionSubtitle from 'components/shared/SectionSubtitle.astro';
---

<Container>
  <div class="wrapper">
    <div class="content flex-column">
      <div class="text-wrapper flex-column">
        <SectionHeader textAlign="center">Chętny na wyjazd?</SectionHeader>
        <SectionSubtitle textAlign="center">Wypełnij formularz i bądź na bieżąco!</SectionSubtitle>
      </div>
      <Button type="link" href="/register">Zarejestruj się</Button>
      <div class="text-wrapper flex-column hide">
        <RegularText color="white" textAlign="center">Masz więcej pytań?</RegularText>
        <RegularText color="white" textAlign="center">
          Napisz do nas na adres delta.ftims@samorzad.p.lodz.pl
        </RegularText>
      </div>
    </div>
  </div>

  <p class="question-text">Masz więcej pytań? Napisz do nas na adres <span>delta.ftims@samorzad.p.lodz.pl</span></p>
</Container>

<style>
  .wrapper {
    align-self: stretch;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/banner_cta_mobile.svg');
    margin: 0 var(--padding-side);
    padding: 24px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    justify-content: space-between;
    gap: 32px;
  }

  .text-wrapper {
    gap: 4px;
  }

  .hide {
    display: none;
  }

  .question-text {
    font-size: 12px;
    color: var(--brown);
    text-transform: uppercase;
    text-align: center;
  }

  .question-text span {
    color: var(--color-secondary);
  }

  @media (min-width: 43rem) {
    .wrapper {
      background-image: url('../../assets/banner_cta.svg');
      justify-content: flex-end;
      padding: 80px 30px;
      height: auto;
      border-radius: 25px;
    }

    .content {
      justify-content: normal;
    }

    .hide {
      display: block;
    }

    .question-text {
      display: none;
    }
  }

  @media (min-width: 62rem) {
    .wrapper {
      padding: 120px 60px;
      border-radius: 40px;
    }
  }
</style>
