---
import Container from 'components/shared/Container.astro';
---

<Container>
  <div class="wrapper">
    <div class="header-wrapper">
      <h2>PARTNERZY STRATEGICZNI</h2>
      <p>Poznaj firmy bez których wyjazd nie byłby możliwy!</p>
    </div>
    <div class="logos">
      <img src="/assets/partners/NiceGuys.png" />
      <img src="/assets/partners/Deloitte Digital.png" />
      <img src="/assets/partners/Commerzbank.png" />
    </div>
    <h2>PARTNERZY</h2>
    <div class="logos">
      <img src="/assets/partners/Indeks.png" />
      <img src="/assets/partners/KrólKul.png" />
      <img src="/assets/partners/RydwanyMiasta.png" />
      <img src="/assets/partners/Finestra.png" />
      <img src="/assets/partners/logo_tkalnia.svg" class="tkalnia" />
    </div>
  </div>
</Container>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 var(--padding-side);
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .logos > img {
    max-width: 40%;
  }

  /* asap fix */
  .tkalnia {
    max-width: min(40%, 200px) !important;
  }

  @media (min-width: 43rem) {
    .wrapper,
    .logos {
      gap: 40px;
    }

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (min-width: 62rem) {
    .wrapper,
    .logo {
      gap: 60px;
    }

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }
</style>
