---
import Container from 'components/shared/Container.astro';
---

<Container>
  <h2>PARTNERZY STRATEGICZNI</h2>
  <p>Poznaj firmy bez których wyjazd nie byłby możliwy!</p>
  <div class="logos">
    <img src="/assets/partners/NiceGuys.png" height="40" width="249" />
    <img src="/assets/partners/Deloitte Digital.png" height="80" width="174" />
    <img src="/assets/partners/Commerzbank.png" height="50" width="381" />
  </div>
  <h3>PARTNERZY</h3>
  <div class="logos">
    <img src="/assets/partners/Indeks.png" height="80" width="239" />
    <img src="/assets/partners/KrólKul.png" height="80" width="114" />
    <img src="/assets/partners/RydwanyMiasta.png" height="80" width="106" />
    <img src="/assets/partners/Finestra.png" height="50" width="248" />
  </div>
</Container>

<style>
  h2 {
    font-size: 40px;
    padding-top: 40px;
    margin: 0 auto;
  }

  h3 {
    font-size: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
  }

  h2,
  h3 {
    font-weight: bold;
    text-align: center;
    font-family: 'Lemon Milk';
  }

  p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: center;
  }
</style>
