---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/lemonmilk.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --font-primary: 'Lemon Milk';
        --font-secondary: 'Inter';

        --color-primary: #f49535;
        --color-secondary: #d26414;
        --white: #fff;
        --yellow: #ffb039;
        --orange: #e4780c;
        --orange2: #f49535;
        --brown: #300f07;

        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        /* --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); */

        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(10, 21%, 95%);
        --color-border: hsl(17, 24%, 90%);
        --white: hsl(0, 0%, 100%);

        --margin-top: 0.5rem;
        --padding-side: 20px;
        --icon-size: 2vw;

        --container-max-width: 1200px;

        --breakpoint-tablet: 43rem;
        --breakpoint-desktop: 62rem;
      }

      * {
        box-sizing: border-box;
      }

      html {
        font-family: var(--font-primary), system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
      }

      body.prevent-scroll {
        overflow: hidden;
      }
    </style>

    <style is:global>
      h1 {
        font-size: clamp(1.5rem, 5vw, 5rem);
      }

      h2 {
        font-size: clamp(0.75rem, 2.5vw, 3rem);
      }

      h3 {
        font-size: 1.875vw;
      }

      h1,
      h2,
      h3 {
        margin: var(--margin-top) 0 0;
      }

      .icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin: 0;
      }

      @media (max-width: 425px) {
        .countdown {
          font-size: 5vw;
        }
      }
    </style>
  </body>
</html>
